<!--<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>-->
<div layout-xs="column" layout="row">
    <div class="md-padding" flex-xs flex-gt-xs="50" layout="row" layout-wrap>
        <div flex-xs flex-gt-xs="50" ng-repeat="user in main.users track by user.id">
            <md-card md-colors="{background: 'blue-grey'}">
                <div class="characterThumb" style="background-image:url('{{user.photo}}');"></div>
                <!--<img ng-src="" class="md-card-image" alt="Washed Out">-->
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{user.pseudo}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{user.sexe? "Homme" : "Femme"}}
                    <md-chips>
                        <md-chip>{{user.activite}}</md-chip>
                        <md-chip>{{user.naissance}}</md-chip>
                    </md-chips>

                    <md-button class="md-fab md-accent" aria-label="Favorite" ng-click="main.deleteUser(user)">
                        <md-icon><i class="material-icons">sentiment_very_dissatisfied</i></md-icon>
                    </md-button>
                </md-card-content>

            </md-card>
        </div>
    </div>

    <div class="md-padding" flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <!--FORMULAIRE-->
            <md-card-title>
                <md-card-title-text>
                    <h4>Ajouter un personnage</h4>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form action="#">
                    <md-input-container>
                        <label for="pseudo">Pseudo</label>
                        <input ng-model="user.title" id="pseudo">
                    </md-input-container>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
              <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
              <span class="mdl-radio__label">Homme</span>
            </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
              <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
              <span class="mdl-radio__label">Femme</span>
            </label>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>
